<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='static/style.css' />

</head>
<body>
    <a href='/login'>Login</a>
    <a href='/logout'>Logout</a>
    <a href='/'>Home</a>
    <a href='/blog'>All Posts</a>
    <a href='/newpost'>Add a New Entry</a>
    <br />
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class='error'>{{message}}</div>
    {% endfor %}
    {% endwith %}
    {% block content %}

    {% endblock %}
</body>
</html>